body {
    margin: 0;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    background: url("bg.jpg") no-repeat center center/cover;
}

/* Dark overlay */
.intro, .main {
    height: 100vh;
    background: rgba(0,0,0,0.88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hide main initially */
.main {
    display: none;
}

.premiere {
    color: gold;
    font-size: 40px;
    animation: glow 2s infinite alternate;
}

.name {
    font-size: 45px;
    color: crimson;
    letter-spacing: 3px;
}

@keyframes glow {
    from { text-shadow: 0 0 10px red; }
    to { text-shadow: 0 0 25px orange; }
}

button {
    padding: 12px 25px;
    background: crimson;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkred;
}

.blockbuster {
    color: gold;
    font-size: 35px;
    margin-bottom: 20px;
}

.hero-img {
    width: 300px;
    border: 5px solid gold;
    box-shadow: 0 0 40px red;
    border-radius: 10px;
}

.final-message {
    display: none;
    margin-top: 20px;
    font-size: 22px;
    color: gold;
}
